@import components/nav
@import components/banner
@import components/select
html
    font-size: clamp(8px,0.25vw,24px)
body
    margin: 0
    padding: 0
    font-family: Text, sans-serif
*,*::before,*::after
    box-sizing: border-box
@font-face
    font-family: Text
    src: url('../Media/fonts/SanFranciscoText-Medium.otf')
.content
    max-width: 1000px
    padding: 0 20px
    margin: auto
@import components/media
