@import components/nav
@import components/banner
@import components/compare
html
    font-size: clamp(12px,calc(.7rem + .25vw),20px)
body
    margin: 0
    padding: 0
    font-family: SF Pro Display, sans-serif
    background-color: #121212
    color: #fefefe
