nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

nav h1 {
  margin: 1rem 3rem;
  font-family: SVN-Dear Jane;
  font-size: 3rem;
}

@font {}.hero {
  height: 150vh;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: url("../Media/woods.jpg");
  background-size: cover;
}

.hero h1 {
  font-weight: 600;
}

.hero .typewrite {
  margin: 0;
  font-size: 6rem;
  min-height: 15rem;
}

.cursor {
  border-right: 1px solid white;
}

.wood_border {
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(../Media/intro-bg-trees_large.svg);
}

.compare {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50vh;
  margin-bottom: 25vh;
}

.compare h2 {
  font-size: 3rem;
  font-weight: 600;
}

body {
  margin: 0;
  height: 100vh;
}

.container {
  position: relative;
  width: 60vh;
  height: 60vh;
  border: 2px solid white;
  margin: 2rem 0;
}

.container .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container .background-img {
  background-image: url("../Media/p1.jpg");
  background-size: cover;
}

.container .foreground-img {
  background-size: cover;
  background-image: url("../Media/p2.jpg");
  width: 80%;
}

.container .slider {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.3);
  outline: none;
  margin: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .slider:hover {
  background: rgba(242, 242, 242, 0);
}

.container .slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 6px;
  height: 60vh;
  background: white;
  cursor: pointer;
}

.container .slider::-moz-range-thumb {
  width: 6px;
  height: 60vw;
  background: white;
  cursor: pointer;
}

.container .slider-button {
  pointer-events: none;
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  left: calc(80% - 18px);
  top: calc(50% - 18px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .slider-button:after {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #5d5d5d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.container .slider-button:before {
  content: "";
  padding: 3px;
  display: inline-block;
  border: solid #5d5d5d;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

html {
  font-size: clamp(10px, 0.25vw, 24px);
}

body {
  margin: 0;
  padding: 0;
  font-family: SF Pro Display, sans-serif;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */