nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
}

nav h1 {
  margin: 1rem 0;
  font-size: 4.5rem;
  font-weight: normal;
}

nav h1 a {
  text-decoration: none;
  color: #fff;
}

nav h1 img {
  -webkit-filter: brightness(100);
          filter: brightness(100);
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
}

.hero {
  height: 150vh;
  width: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0.3))), url("../Media/images/woods.jpg");
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../Media/images/woods.jpg");
  background-position: center;
  background-size: cover;
}

.hero .banner {
  font-weight: 550;
  margin: 1rem 0;
}

.hero .typewrite {
  margin: 0;
  font-size: 9rem;
  min-height: 18rem;
  font-weight: 550;
  text-align: center;
}

.cursor {
  border-right: 1rem solid white;
}

.hero::after {
  content: "";
  display: block;
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../Media/images/intro-bg-trees_large.svg");
  margin-bottom: -10px;
}

.select {
  margin: 10vw 0;
}

.select h1 {
  text-align: center;
  font-size: 7rem;
}

.large-12 {
  -ms-grid-column: 1;
  -ms-grid-column-span: 12;
  grid-column: 1 / span 12;
}

.large-6-small-12 {
  grid-column: span 6;
}

.tile {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
      grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.tile__item {
  height: 30vw;
  border-radius: 25px;
  -webkit-box-shadow: inset 0 0 0 2000px #0000009b;
          box-shadow: inset 0 0 0 2000px #0000009b;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  position: relative;
}

.tile__item:hover .tile__title {
  top: -4rem;
  opacity: 1;
}

.tile__item:hover a p {
  opacity: 1;
}

.tile a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: #fff;
}

.tile a p {
  font-size: 3rem;
  border: 3px solid white;
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
}

.tile__title {
  position: absolute;
  margin: 0;
  top: 0;
  left: 2rem;
  font-size: 4rem;
  opacity: 0;
  -webkit-transition: .1s ease-in-out;
  transition: .1s ease-in-out;
  letter-spacing: 3px;
}

.water {
  background: url("../Media/images/water-pollution.jpg");
  background-size: cover;
}

html {
  font-size: clamp(8px, 0.25vw, 24px);
}

body {
  margin: 0;
  padding: 0;
  font-family: Text, sans-serif;
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: Text;
  src: url("../Media/fonts/SanFranciscoText-Medium.otf");
}

article {
  max-width: 1000px;
  padding: 0 20px;
  margin: auto;
}

@media (max-width: 1000px) {
  .large-6-small-12 {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 12 !important;
    grid-column: 1 / span 12 !important;
  }
}

@media (max-width: 500px) {
  .select h1 {
    font-size: 4rem;
  }
  .hero .typewrite {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=style.css.map */