.hero
    margin-top: calc(50vh - 10rem)
    display: flex
    flex-direction: column
    justify-content: space-around
    text-align: center
    h1
        font-size: 6rem
        margin: 0
        font-weight: 600
    h2
        font-weight: 400
    .top
        font-size: 6rem
    .typewrite
        min-height: 15rem
.wrap
    border-right: 1px solid white