.hero
    width: 100%
    .banner
        height: 100vh
        margin: 1rem 0
        div
            height: 100%
            display: flex
            padding-top: 20vh
            flex-direction: column
            justify-content: center
        p
            font-size: 5rem
            margin: 0
    .typewrite
        font-weight: 600
.cursor
    border-right: 5px solid #444
