.footer
  position: relative
  width: 100%
  // height: 50vmin
  padding: 30px 0
  margin-top: 10rem

  background: #1d1d1d
  h2
    margin: 20px 0
.footer__slogan
  position: relative
  // top: 30vmin
.footer__team
  display: flex
  // display: grid
  // grid-template-columns: repeat(6,1fr)
  gap: .5rem
  a
    color: #121212
    max-width: 3rem
  img
    filter: saturate(0) contrast(1.8) brightness(.8)
    border-radius: 50%
    width: 100%
    &:hover
      filter: none
.footer__about
  position: absolute
  right: 0
  top: -45px
  background: #666565
  padding: 20px
  margin: 0 20px
#footer__name
  width: 100%
  height: 3rem
  margin-top: .5rem
  line-height: 3rem
  text-align: center
  max-width: 21.5rem
  background: #333
  border-radius: 2rem
