@media (max-width: 740px)
  .masonry
    column-count: 2
  nav
    background: #000
  #footer__name
    display: none
@media (max-width: 600px)
  .article
    width: 100vw
    margin: -2rem 0 0 0
    border-radius: 0
  .post
    button
      left: 10px
  .footer
    &__slogan
      font-size: 2rem
      text-align: center
  #footer__name
    max-width: 30rem
