nav
    width: 100%
    background: rgba(0,0,0,0.6)
    h1
        margin: 1rem 3rem
        font-family: DearJane
        font-size: 3rem
@font-face
    font-family: DearJane
    src: url(../Media/fonts/SVN-Dear Jane.otf)
