@mixin fullsize
  top: 0
  left: 0
  right: 0
  bottom: 0
.post
  z-index: 9
  display: none
  position: fixed
  @include fullsize
  backdrop-filter: blur(10px)
  -ms-overflow-style: none
  scrollbar-width: none
  overflow-y: auto
  &::-webkit-scrollbar
    display: none
  button
    transform: scale(2) translateY(10vh)
    border: 1px solid black
    background: #fff
    border-radius: 50%
    position: sticky
    position: -webkit-sticky
    display: block
    cursor: pointer
    height: 16px
    width: 16px
    left: 19vw
    padding: 0
    top: 0
    img
      position: absolute
      left: -1px
      top: -1px
    &:hover
      background: #000
    &:hover img
      filter: invert(1)
.bg
  position: sticky
  top: 0
  margin-bottom: -100vh
  height: 100%
  width: 100%
  cursor: pointer
  z-index: -9

.article
  width: 70vw
  // max-width: 60ch
  min-height: 100vh
  background: #fff
  border-radius: 18px
  margin: 10vh 15vw 10vh 15vw
  padding: 15vh 10vw 10vw 10vw
  h2
    font-size: 3rem
    font-weight: bold
    margin-bottom: 0
  h3
    font-size: 1.2rem
  img
    width: 100%
    margin-top: 2rem
.post-wrapper
  color: #000
  span
    margin: .5rem 0
    display: inline-block

.more:active ~ .post
  opacity: 1
